<!-- NAV
================================================== -->
<div class="mt-navbar border-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-auto">
        <nav class="nav nav-overflow py-2">
          <!--<p class= "nav-link font-weight-normal text-xs">Your one stop online place</p><br>-->
          <% @catSections.each do |category| %>
            <%= link_to category.name, category_path(category.id), class: "nav-link font-weight-normal text-xs" %>
          <% end %>
            <%= link_to "TV", root_path, class: "nav-link font-weight-normal text-xs" %>
            <%= link_to "Awards", root_path, class: "nav-link font-weight-normal text-xs" %>
            <%= link_to "Music", root_path, class: "nav-link font-weight-normal text-xs" %>
            <%= link_to "Market place", root_path, class: "nav-link font-weight-normal text-xs" %>
        </nav>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</div>
