<p id="notice"><%= notice %></p>

<h1>Adverts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Url</th>
      <th>Status</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adverts.each do |advert| %>
      <tr>
        <td><%= advert.title %></td>
        <td><%= image_tag(advert.image.url, alt: 'Image', class: "card-img") if advert.image? %></td>
        <!--<td><%#= advert.image %></td>-->
        <td><%= advert.url %></td>
        <td><%= advert.status %></td>
        <td><%= advert.desc %></td>
        <td><%= link_to 'Show', advert %></td>
        <td><%= link_to 'Edit', edit_advert_path(advert) %></td>
        <td><%= link_to 'Destroy', advert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Advert', new_advert_path %>
