<%= render "shared/navbar" %>

<%= render "shared/nav" %>

<!-- ITEMS
================================================== -->
<section class="section">
  <div class="container">
    <div class="row">
      <% @postSections.each do |post| %>
      <div class="col-12 col-md-6 col-lg-4">
        <!-- Item -->
        <div class="position-relative">
          <!-- Card -->
            <%= link_to post do %>
            <!-- Image -->
            <%= image_tag(post.image.url, alt: 'Image', class: "card-img") if post.image? %>
            <!--<img src="assets/img/86.jpg" alt="..." class="card-img">-->
            <!-- Body -->
            <div class="card-body">
              <div class="row align-items-center mb-3">
                <div class="col">
                  <!-- Heading -->
                  <h4 class="card-title mb-0">
                    <%= post.title %>
                  </h4>
                </div>
                <!--<div class="col-auto">-->
                <!--  <p class="mb-0 text-sm text-muted">-->
                <!--    $70-->
                <!--  </p>-->
                <!--</div>-->
              </div> <!-- / .row -->
              <!-- Text -->
              <p class="mb-0 text-sm text-muted">
                <%= post.body.truncate(100) %>
              </p>
            </div>
            <% end %>
        </div>
      </div>
      <% end %>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<%= render "shared/newsletter" %>

<%= render "shared/footer" %>