<p id="notice"><%= notice %></p>
<%= render "shared/navbar" %>






<section class="section pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">

        <!-- Meta -->
        <div class="row align-items-center justify-content-center no-gutters mb-4">
          <div class="col-auto">
            

          </div>
          <div class="col-auto">
            
            <p class="mb-0 text-xs text-muted">
              by <strong class="text-body"><%= @post.user.name %></strong> <%= time_ago_in_words(@post.created_at) %> ago
            </p>

          </div>
        </div> <!-- / .row -->
        
        <!-- Heading -->
        <h1 class="mb-5 font-weight-bold text-center">
          <%= @post.title %>
        </h1>
        
      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-12">
        
        <!-- Image --><%= image_tag(@post.image.url, class: "img-fluid mb-3", alt: 'Image', style: "align-self: center;") if @post.image? %>
        <!--<img src="assets/img/56.jpg" alt="..." class="img-fluid mb-3">-->

        <!-- Caption -->
        <p class="text-center text-sm text-muted mb-5">
          <!--Sint cum consectetur error mollitia at, eius illo. Deleniti, magnam.-->
        </p>

      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">

        
        <p class="mb-0">
          <%= @post.body %>
        </p>
        
        
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>



<%= render 'shared/disqus' %>