<p id="notice"><%= notice %></p>
<%= render "shared/navbar" %>






<section class="section pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">

        <!-- Meta -->
        <div class="row align-items-center justify-content-center no-gutters mb-4">
          <div class="col-auto">
            

          </div>
          <div class="col-auto">
            
            <p class="mb-0 text-xs text-muted">
              by <strong class="text-body"><%= @post.user.name %></strong> <%= time_ago_in_words(@post.created_at) %> ago
            </p>

          </div>
        </div> <!-- / .row -->
        
        <!-- Heading -->
        <h1 class="mb-5 font-weight-bold text-center">
          <%= @post.title %>
        </h1>
        
      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-12">
        
        <!-- Image --><%= image_tag(@post.image.url, class: "img-fluid mb-3", alt: 'Image', style: "align-self: center;") if @post.image? %>
        <!--<img src="assets/img/56.jpg" alt="..." class="img-fluid mb-3">-->

        <!-- Caption -->
        <p class="text-center text-sm text-muted mb-5">
          <!--Sint cum consectetur error mollitia at, eius illo. Deleniti, magnam.-->
        </p>

      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">

        
        <p class="mb-0">
          <%= @post.body %>
        </p>

        <!-- Social -->
        <div class="row align-items-center py-3 my-5 border-top border-bottom">
          <div class="col">

            <p class="mb-0 text-xs text-uppercase">
              Share the post:
            </p>

          </div>
          <div class="col-auto">
            <a href="#!" class="text-lg text-nounderline mx-2">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#!" class="text-lg text-nounderline mx-2">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#!" class="text-lg text-nounderline mx-2">
              <i class="fab fa-instagram"></i>
            </a>

          </div>
        </div>

      </div>
    </div> <!-- / .row -->
    <!--<div class="row justify-content-center">-->
    <!--  <div class="col-12 col-lg-10 col-xl-8">-->
        
        <!-- Heading -->
    <!--    <h3 class="mb-5">-->
    <!--      Reader's comments:-->
    <!--    </h3>-->
        
        <!-- Count -->
    <!--    <p class="mb-0 text-uppercase text-xs text-muted">-->
    <!--      2 comments found-->
    <!--    </p>-->

    <!--    <hr>-->
        
        <!-- Form -->
    <!--    <form class="mb-5">-->
    <!--      <div class="form-group mb-0">-->
    <!--        <label class="mb-3">-->
    <!--          Add a comment:-->
    <!--        </label>-->
    <!--        <div class="row no-gutters">-->
    <!--          <div class="col-auto">-->
                
                <!-- Avatar -->
    <!--            <div class="avatar mr-3">-->
    <!--              <img src="assets/img/16.jpg" alt="..." class="img-cover">-->
    <!--            </div>-->

    <!--          </div>-->
    <!--          <div class="col">-->
                
    <!--            <textarea class="form-control"></textarea>-->

    <!--          </div>-->
    <!--        </div> <!-- / .row -->-->
    <!--      </div>-->
    <!--    </form>-->

        <!-- Comment -->
    <!--    <div class="row no-gutters mb-4">-->
    <!--      <div class="col-auto">-->
            
            <!-- Avatar -->
    <!--        <div class="avatar mr-3">-->
    <!--          <img src="assets/img/18.jpg" alt="..." class="img-cover">-->
    <!--        </div>-->

    <!--      </div>-->
    <!--      <div class="col">-->
            
            <!-- Meta -->
    <!--        <p class="mb-1 text-muted text-xs">-->
    <!--          by <strong class="text-body">Jane Roe</strong> 15 minutes ago-->
    <!--        </p>-->
            
            <!-- Text -->
    <!--        <p class="mb-0 text-sm">-->
    <!--          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, animi? Hic dignissimos laboriosam est molestiae dolore voluptatum iusto.-->
    <!--        </p>-->

    <!--      </div>-->
    <!--    </div>-->

        <!-- Comment -->
    <!--    <div class="row no-gutters mb-0">-->
    <!--      <div class="col-auto">-->
            
            <!-- Avatar -->
    <!--        <div class="avatar mr-3">-->
    <!--          <img src="assets/img/17.jpg" alt="..." class="img-cover">-->
    <!--        </div>-->

    <!--      </div>-->
    <!--      <div class="col">-->
            
            <!-- Meta -->
    <!--        <p class="mb-1 text-muted text-xs">-->
    <!--          by <strong class="text-body">Judy Doe</strong> 17 minutes ago-->
    <!--        </p>-->
            
            <!-- Text -->
    <!--        <p class="mb-0 text-sm">-->
    <!--          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, animi? Hic dignissimos laboriosam est molestiae dolore voluptatum iusto.-->
    <!--        </p>-->

    <!--      </div>-->
    <!--    </div>-->

    <!--  </div>-->
    <!--</div> <!-- / .row -->
  </div> <!-- / .container -->
</section>






<!--<div class="card mb-3">-->
<!--  <%#= image_tag(@post.image.url, class: "card-img-top", alt: 'Image', style: 'width:40%; align-self: center;') if @post.image? %>-->
  <!--<img src="..." class="card-img-top" alt="...">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title"><%#= @post.title %></h5>-->
<!--    <p class="card-text"><%#= @post.body %></p>-->
<!--    <p class="card-text"><small class="text-muted">by <%#= @post.user.name %></small></p>-->
<!--    <p class="card-text"><small class="text-muted"><%#= @post.category.name %></small></p>-->
<!--    <p class="card-text"><small class="text-muted">Created <%#= time_ago_in_words(@post.created_at) %> ago</small></p>-->
<!--  </div>-->
<!--</div>-->

<!--<p>-->
<!--  <strong>User:</strong>-->
<!--  <%#= @post.user.name %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Title:</strong>-->
<!--  <%#= @post.title %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Body:</strong>-->
<!--  <%#= @post.body %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Category:</strong>-->
<!--  <%#= @post.category.name %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Image:</strong>-->
<!--  <%#= image_tag(@post.image.url, alt: 'Image') if @post.image? %>-->
  <%#= @post.image %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Other image:</strong>-->
<!--  <%#= image_tag(@post.image.url, alt: 'Image') if @post.image? %>-->
  <%#= @post.other_image %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Author:</strong>-->
  <%#= @post.author %>
<!--</p>-->

<%# if user_signed_in? %>
  <%#= link_to 'Edit', edit_post_path(@post) %> |
<%# else %>

<%# end %>

<%#= link_to 'Back', posts_path %>
